@import "../vars";

@mixin list-style{
	h3{
		font-size: 15px;
		text-transform: uppercase;
		padding-bottom: 11px;
		border-bottom: 1px solid #dedddd;

	}
	ul{
		border-top: 1px solid #fff;
		padding: 20px 0 0 15px;
	}
	li{
		padding: 7px 0;
		list-style: square;
		transition: all 0.3s ease;
		font-size: 12px;
	}
	li:hover{
		margin-left: 5px;
		color: $red;
		a{
			color: $red;
		}
	}
}