@import "fonts";
@import "vars";
@import "reset";
@import "_mixins/clearfix";
@import "_mixins/list-style";

// START COMMON STYLES

.wrapper {
	min-height: calc(100vh - 257px);
}

.container{
	width: 100%;
	max-width: 980px;
	margin: 0 auto;
	position: relative;
	padding: 0 20px;
	@include clearfix();
}
.classic-list{
	@include list-style();
}

//END COMMON STYLES

#header{
	border-top: 2px solid $red;
	box-shadow: 0 0 3px;
	.logo{
		background-color: $red;
		padding: 8px 16px;
		float: left;
	}
	.header-group{
		padding-left: 169px;
	}
	.top-component{
		position: relative;
		border-bottom: 1px solid #e7e7e7;
		padding: 15px calc((100vw - 980px) / 2 + 20px) 1rem 0;
		margin-right: $negative-margin;
		.local, .currency{
			display: inline-block;
			position: relative;
			span{
				color: $red;
			}
			ul{
				display: none;
				position: absolute;
				z-index: 1000;
				left: 57px;
				border: 1px solid #ff5050;
				padding: 10px 20px 10px 0;
				background-color: #ff5050;
				line-height: 20px;
			}
		}
		.account-group{
			float: right ;
			ul > li{
				display: inline-block;
				a{
					display: block;
					position: relative;
					padding: 0 0.5rem;
					text-transform: capitalize;
				}
				a::after{
					content: '|';
					position: absolute;
					top: 8px;
					left: -5px;
					width: 1px;
					height: 16px;
					margin-top: -8px;
				}
				&:first-child a:after{
					content: '';
				}
			}
		}
	}
	.bottom-component{
		@include clearfix();
		.horizontal-nav{
			padding-top: 25px;
			float: left;
			ul{
				& > li{
					display: inline-block;
					font-family: droidBold;
					font-size: 15px;
					text-transform: uppercase;
					margin-left: 1em;
					a{
						transition: all 0.3s ease;
					}
				}
				li + li{
					margin-left: 37px;
				}
				li > a:hover{
					color: $red;
				}
			}
		}
		.basket-search{
			float: right;
			margin-top: 11px;
			li{
				display: inline-block;
				line-height: 0;
				a{
					display: inline-block;
					vertical-align: middle;
				}
				span, img{
					vertical-align: middle;
				}
			}
			.input-search{
				width: 0;
				border: 1px solid #e7e7e7;
				transition: all 0.5s ease;
			}
			.btn-search{
				background-color: #fff;
			}
			.active-search{
				width: 100%;
			}
		}
	}
	
}
#footer{
	height: 257px;
	background-color: $footer-bg;
	.top-component{
		height: 205px;
		padding-top: 34px;
		.wrap{
			margin: 0 -14px;
			font-size: 0;
		}
		.wrap > *{
			display: inline-block;
			width: 20%;
			padding: 0 14px;
			vertical-align: top;
			font-size: 12px;
		}
		h3{
			font-size: 15px;
			text-transform: uppercase;
			padding-bottom: 11px;
			border-bottom: 1px solid #dedddd;

		}
		ul{
			border-top: 1px solid #fff;
			padding-left: 15px;
		}
		.payment-section{
			padding-right: 0;
			p{
				font-size: 13px;
				padding-top: 22px;
				border-top: 1px solid #fff;
			}
			ul{
				border: none;
				padding: 0;
				margin: 19px -6px 0;
			}
			li{
				display: inline-block;
				margin-left: 6px;
				&:hover{
					margin-left: 0;
				}
			}
		}
	}
	.bottom-component{
		height: 52px;
		background-color: #292929;
		.container{
			height: inherit;
		}
		.copyright-text{
			float: left;
			line-height: 52px;
		}
		.social{
			float: right;
			line-height: 52px;
			li{
				display: inline-block;
				margin-left: 25px;
			}
			a{
				color: $red;
				font-size: 16px;
			}
		}
	}
}



@import "media";